[Unit]
Description=Kubernetes Scheduler Plugin
Documentation=https://github.com/GoogleCloudPlatform/kubernetes

[Service]
ExecStart=/usr/local/bin/kube-scheduler \
          --logtostderr=true \
          --v=0 \
          --leader-elect=true \
          --address=127.0.0.1 \
          --port=10251 \
          --master=__K8S_MASTER_URL__

Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target