[Unit]
Description=Kubernetes Kube-Proxy Server
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
After=network.target

[Service]
ExecStart=/usr/local/bin/kube-proxy \
          --logtostderr=true \
          --v=0 \
          --kubeconfig=/etc/kubernetes/kube-proxy.kubeconfig \
          --hostname-override=__CURR_NODE_IP__ \
          --bind-address=__CURR_NODE_IP__ \
          --proxy-port-range=40000-45000 \
          --cluster-cidr=__K8S_CLUSTER_IP_RANGE__ \
          --master=__K8S_MASTER_URL__
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target