[Unit]
Description=Kubernetes Kubelet Server
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
After=docker.service
Requires=docker.service

[Service]
WorkingDirectory=/var/lib/kubelet
EnvironmentFile=-/etc/kubernetes/config
EnvironmentFile=-/etc/kubernetes/kubelet
ExecStart=/usr/local/bin/kubelet \
            --fail-swap-on=false \
            --pod-infra-container-image=gcr.io/google_containers/pause-amd64:3.0 \
            --cgroup-driver=cgroupfs \
            --runtime-cgroups=/systemd/system.slice \
            --kubelet-cgroups=/systemd/system.slice \
            --bootstrap-kubeconfig=/etc/kubernetes/bootstrap.kubeconfig \
            --kubeconfig=/etc/kubernetes/kubelet.kubeconfig \
            --cert-dir=/var/lib/kubelet/pki \
            --address=0.0.0.0 \
            --port=10250 \
            --hostname-override=__CURR_NODE_IP__
Restart=on-failure

[Install]
WantedBy=multi-user.target